/* Adaptive header */

#topNavSmall {
    display: none;
}

@media only screen and (max-width: 580px) {
    #topNavDesktop {
        display: none;
    }

    #topNavSmall {
        display: block;
    }
}